html, body {
  background-color: white;
  font-family: "Helvetica Neue", sans-serif;
  overflow-y: auto;
}

.overlayClose #line1, .overlayClose #line2, .overlayClose #line3 {
  border-color: darkgray;
}

.overlayClose:hover #line1, .overlayClose:hover #line2, .overlayClose:hover #line3 {
  border-color: rgb(88, 88, 88);
}

.positionBtn {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 11;
}

#socialWrap {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}

.iconSize {
  font-size: 1.8em;
  color: darkgray;
  transition: 0.2s;
}

.iconSize:hover {
  color: rgb(44, 44, 44);
}

#contactTitle {
  font-size: 3em;
  line-height: 0.8em;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: lowercase;
  color: rgb(51, 51, 51);
}

.contactInput {
  width: 100%;
  font-weight: 200;
  letter-spacing: 1px;
  outline: none;
  color: rgb(51, 51, 51);
  border: none;
  background-color: white;
  padding: 10px 15px;
  /* border-radius: 2px; */
  /* text-transform: lowercase; */
  border: 0;
  border-left: 2px rgb(51, 51, 51) solid;
  /* border-bottom: 2px rgb(100, 100, 100) solid; */
  transition: 0.1s;
}

#msgInp {
  resize: none;
  outline: none; 
  height: 150px;
  transition: 0.1s !important;
}

.error {
  background-color: #ff6d6d;
}

.error::placeholder {
  color: white;
}

#errorMsg {
  font-weight: 400;
  letter-spacing: 1px;
  position: absolute;
  right: 0;
  color: rgb(255, 109, 109);
}

#send {
  display: inline-block;
  position: absolute;
  left: 0;
  font-weight: 300;
  font-size: 0.75em;
  border: 2px solid rgb(51, 51, 51);
  /* border: 0;
  border-right: 2px solid rgb(51, 51, 51);
  border-bottom: 2px solid rgb(51, 51, 51); */
  padding: 5px 15px;
  border-radius: 3px;
  letter-spacing: 3px;
  text-transform: uppercase;
  /* text-transform: lowercase; */
  cursor: default;
  color: black;
  transition: 0.3s;
}

#send:hover {
  background-color: rgb(51, 51, 51);
  color: white;
}

#hideSubmit {
  position: relative;
  z-index: 1;
  opacity: 1;
}

#showSubmit {
  position: absolute;
  top: 15%;
  display: block;
  width: 100%;
  text-align: center;
  opacity: 0;
  z-index: 0;
  font-weight: 300;
  letter-spacing: 2px;
  color: rgb(51, 51, 51);
  transition: 1s;
}

#successIcon {
  font-size: 4em;
  color: #84dcc6;
}

#showFail {
  position: absolute;
  top: 15%;
  display: block;
  width: 100%;
  text-align: center;
  opacity: 0;
  z-index: 0;
  font-weight: 300;
  letter-spacing: 2px;
  color: rgb(51, 51, 51);
  transition: 1s;
}

#failIcon {
  font-size: 4em;
  color: #ff6d6d;
}