html, body {
  background-color: white;
  font-family: "Helvetica Neue", sans-serif;
  overflow-y: auto;
}

.overlayClose #line1, .overlayClose #line2, .overlayClose #line3 {
  border-color: darkgray;
}

.overlayClose:hover #line1, .overlayClose:hover #line2, .overlayClose:hover #line3 {
  border-color: rgb(88, 88, 88);
}

.positionBtn {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 11;
}

#galleryName {
  font-family: GlossBloom;
  font-size: 1.2em;
  line-height: 0em;
  cursor: default;
  transition: 0.2s;
  color: black;
}

#galleryName:hover {
  color:#84dcc6;
}

#gallerySub {
  text-transform: lowercase;
  letter-spacing: 2px;
  font-weight: 200;
  font-size: 1.05em;
  color: rgb(95, 95, 95);
  cursor: default;
  transition: 0.2s;
}

#gallerySub:hover {
  color: #73a2ad;
}

#galleryOpt ul {
  list-style-type: none;
  text-transform: lowercase;
  letter-spacing: 2px;
  font-weight: 200;
  font-size: 1.2em;
  font-style: italic;
  color: rgb(141, 141, 141);
  cursor: default;
}

#galleryOpt ul li {
  display: inline;
  margin: 0 10px;
  transition: 0.2s;
}

#galleryOpt ul li:hover {
  color: rgb(49, 50, 59);
}

#galleryHeader {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 7;
  background-color: white;
}

.imgWrapper {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
}

.galleryImg {
  position: absolute;
  /* bottom: -15%; */
}

.imgOverlay {
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 1;
  background-color: white;
  opacity: 0;
  overflow-wrap: break-word;
  transition: 0.3s;
}

.imgText {
  font-size: 11vw;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 0.8em;
  display: block;
  width: 100%;
  position: absolute;
  left: 2%;
  bottom: 2%;
  cursor: default;
  transition: 0.2s;
}

.imgWrapper:hover .imgOverlay {
  top: 0;
  opacity: 0.8;
}

.singleImg {
  position: relative;
  top: 0;
  box-shadow: 0px 0px 0px gray;
  transition: 0.2s;
}

.singleImg:hover {
  top: -5px;
  box-shadow: 0px 10px 10px rgb(173, 173, 173);
}

.imgData {
  display: none;
}

#imgPopup {
  background-color: white;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: none;
}

.imgCaption {
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: lowercase;
  color: rgb(88, 88, 88);
}

#closePop {
  position: absolute;
  top: 60px;
  left: -20px;
  font-weight: 400;
  color: rgb(117, 117, 117);
  cursor: default;
  transform: rotate(-90deg);
  transition: 0.2s;
}

#closePop:hover {
  color: rgb(46, 46, 46);
}

.popImg {
  max-width: 100%;
  max-height: 100%;
}

.vidData {
  display: none;
}

.animSmoke {
  max-width: 100%;
  max-height: 100%;
  display: none;
}

.animateBtn {
  display: inline-block;
  font-weight: 300;
  font-size: 0.8em;
  border: 2px solid rgb(51, 51, 51);
  padding: 5px 15px;
  border-radius: 3px;
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: default;
  color: black;
  transition: 0.3s;
}

.animateBtn:hover {
  background-color: rgb(51, 51, 51);
  color: white;
}