@media (min-width: 0px) {
  /* Home Styles */
  #homeVideo {
    height: 100%;
    width: auto;
  }

  #homeText {
    font-size: 3em;
    line-height: 1.4em;
  }
  
  .homeSubTxt {
    line-height: 0em;
  }

  #sideMenu {
    margin-right: 0;
    padding-right: 10px;
  }

  #overlay {
    right: 0;
    width: 0%;
    overflow: hidden;
  }

  .positionBtn {
    position: fixed;
    right: 0;
    top: 0;
    transform: translateY(20%);
  }

  /* About Styles */
  .aboutSocial {
    width: 10%;
    text-align: center;
    position: absolute;
    top: 0;
    right: -30px;
  }

  .copyright {
    position: relative;
    bottom: -10px;
  }

  #fullHeight, #fullHeight .row {
    height: auto;
  }

  /* Gallery Styles */
  #galleryOpt ul {
    font-size: 1.1em;
  }

  #closePop {
    top: -25px;
    left: 15px;
    transform: rotate(0deg);
  }

  #fullImgHeight {
    height: auto;
  }

  .iframe-container iframe {
    top: unset;
    bottom: 20px;
  }

  /* Contact Styles */
  #socialWrap {
    display: none;
  }

  #socialWrapContact {
    display: block;
    position: absolute;
    bottom: -20px;
  }

  #copyrightContact {
    position: absolute;
    bottom: 0;
  }
}

@media (min-width: 576px) { 

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* Home Styles */
  #homeVideo {
    height: auto;
    width: 100%;
  }

  #homeText {
    font-size: 5em;
    line-height: 1em;
  }
  
  .homeSubTxt {
    line-height: unset;
  }

  #sideMenu {
    margin-right: 30px;
    padding-right: unset;
  }

  #overlay {
    right: -30%;
    width: 30%;
  }

  .positionBtn {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  /* About Styles */
  .aboutSocial {
    width: 100%;
    text-align: center;
    position: unset;
    top: unset;
    right: unset;
  }

  .copyright {
    position: absolute;
    bottom: 10px;
  }
  
  #fullHeight, #fullHeight .row {
    height: 100%;
  }

  /* Gallery Styles */
  #galleryOpt ul {
    font-size: 1.2em;
  }

  #closePop {
    top: 60px;
    left: -20px;
    transform: rotate(-90deg);
  }

  #fullImgHeight {
    height: 100%;
  }

  .iframe-container iframe {
    top: 0;
    bottom: unset;
  }

  /* Contact Styles */
  #socialWrap {
    display: block;
  }

  #socialWrapContact {
    display: none;
  }

  #copyrightContact {
    position: absolute;
    bottom: 10px;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}