/* Main Page Load Animation */
/* animation: name duration timing-function delay iteration-count direction fill-mode play-state; */
@keyframes Z1 {
  0% {
    opacity: 0;
    bottom: -30%;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}

@keyframes Z2 {
  0% {
    opacity: 0;
    left: 62%;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    left: 0;

  }
}

@keyframes A1 {
  0% {
    opacity: 0;
    top: 74%;
  }
  100% {
    opacity: 1;
    top: 35%;
  }
}

@keyframes K1 {
  0% {
    opacity: 0;
    bottom: 30%;
  }
  100% {
    opacity: 1;
    bottom: 0%;
  }
}

@keyframes K2 {
  0% {
    opacity: 0;
    right: -30%;
  }
  35% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}

@keyframes K3 {
  0% {
    opacity: 0;
    bottom: -30%;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}

/*Shine Effect (http://jsfiddle.net/nqQc7/4154/)*/
#animateName:after {
  animation: shine 7s ease-in 4.1s none;
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(135deg);
  z-index: 0;
  
  background: rgba(241, 240, 233, 0.13);
  background: linear-gradient(
    to right, 
    rgba(241, 240, 233, 0.13) 0%,
    rgba(241, 240, 233, 0.13) 77%,
    rgba(241, 240, 233, 0.5) 92%,
    rgba(241, 240, 233, 0.0) 100%
  );
}

@keyframes shine {
  10% {
    opacity: 1;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
  }
  100% {
    opacity: 0;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
  }
}

