html, body {
  height: 100%;
}

#fp-nav ul li a span { /*edits the navigation bar for fullpage*/
  background: white;
}

#three, #four {
  background-color: red;
  height: 200px;
  border: 5px white solid;
}