@font-face {
  font-family: Techy;
  src: url(../fonts/Techy.woff);
}

@font-face {
  font-family: Krungthep;
  src: url(../fonts/Krungthep.woff);
}

/*
font-family: 'Cutive Mono', monospace;
font-family: 'Iceland', cursive;
font-family: 'Righteous', cursive;
font-family: "Helvetica Neue", sans-serif;
 */

html, body {
  width: 100%;
  height: 100%;
}

#fp-nav, .fp-nav {
  right: 35px !important;
}

#fp-nav ul li a span { /*edits the navigation bar for fullpage*/
  background: rgb(95, 98, 128);
}

#fullpage { /*disables horizontal scrollbar from appearing when using any parallax effect*/
  overflow-x: hidden;
}

#main, #about {
  background-color: rgb(241, 240, 233);
}

/* #tiltEl {
  background-color: red;
  transform-style: preserve-3d;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
}

#innerTilt {
  font-family: Techy;
  transform: translateZ(90px);
  height: 100%;
  width: 50%;
  text-align: center;
  color: gray;
  font-size: 30px;
} */

#overlay {
  position: fixed;
  top: 0;
  height: 0;
  width: 100%;
  z-index: 9;
  background-color: rgb(241, 240, 233);
  box-shadow: 0px 1px 1px rgb(241, 240, 233);
  transition: 0.4s;
  transition-timing-function: ease;
}

#darken {
  display: none;
  position: fixed;
  top: 0;
  z-index: 8;
  width: 100%;
  height: 100%;
  background-color: rgb(240, 240, 240);
  opacity: 0;
}

#menuBtn {
  position: fixed;
  top: 3.3%;
  right: 0.8%;
  width: 70px;
  height: 40px;
  z-index: 10;
  transform: rotate(45deg);
  transition: 0.2s;
}

#menuBtn hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 3px rgb(92, 94, 124) solid;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 5px;
  transition: 0.2s;
}

#hr3 {
  width: 60px;
}

#hr2 {
  width: 40px;
}

#hr1 {
  width: 20px;
}

#menuBtn:hover #hr1 {
  border-top: 3px white solid;
  transition: 0.2s;
  margin-bottom: -4px;
}

#cutCorner {
  height: 95%;
  width: 97%;
  border: 7px rgb(52, 54, 75) solid;
  pointer-events:none;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
}

#cutCorner:before {
  position: absolute;
  right: -3px;
  top: -3px;
  content:'';
  border-top: 70px solid rgb(52, 54, 75);
  border-left: 70px solid transparent;
}

#cutCorner:after {
  position: absolute;
  right: -8px;
  top: -8px;
  content:'';
  border-top: 70px solid rgb(241, 240, 233);
  border-left: 70px solid transparent;
}

#shortBlurb {
  width: 100%;
  text-align: center;
  font-size: 1.3em;
  font-weight: 400;
  font-family: "Helvetica Neue", sans-serif;
  animation: fadeDownTxt 1.5s ease 3.5s normal both;
  letter-spacing: 15px;
  text-transform: uppercase;
  color: rgb(58, 60, 83);
  position: absolute;
  top: 13%;
}

#shortBlurbSub {
  width: 100%;
  text-align: center;
  font-size: 1em;
  font-weight: 300;
  font-family: "Helvetica Neue", sans-serif;
  animation: fadeUpTxt 1.5s ease 3.5s normal both;
  text-transform: uppercase;
  letter-spacing: 7px;
  color: rgb(92, 94, 124);
  /* font-style: italic; */
  position: absolute;
  bottom: 12%;
}

#downArrow {
  position: absolute;
  bottom: 40px;
  height: 25px;
  width: 25px;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 7;
}

#downArrow hr {
  height: 0px;
  border-top: 3px rgb(95, 98, 128) solid;
  width: 10px;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  transition: 0.1s;
}

#arrow1 {
  transform: rotate(45deg);
  left: 4px;
}

#arrow2 {
  transform: rotate(-45deg);
  right: 4px;
}

#downArrow:hover #arrow1 {
  transform: rotate(30deg);
}

#downArrow:hover #arrow2 {
  transform: rotate(-30deg);
}

#animateName {
  height: 50%;
  overflow: hidden;
}

#zCont, #kCont {
  display: inline-block;
  width: 350px;
  height: 350px;
  position: absolute;
}

#zCont {
  right: 50%;
  transition: 0.7s;
}

#kCont {
  left: 49.9%;
  transition: 0.7s;
}

#Z1, #Z2, #A1, #K1, #K2, #K3 {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
}

#Z1 {
  width: 100%;
  animation: Z1 1.5s ease 0.5s normal both;
  z-index: 1;
}

#Z2 {
  width: 62%;
  animation: Z2 1.5s ease-out 2.5s normal both;
}

#A1 {
  width: 15%;
  right: 10%;
  top: 35%;
  animation: A1 1s ease 3.4s normal both;
  z-index: 0;
}

#K1 {
  height: 100%;
  animation: K1 1.5s ease 0.5s normal both;
}

#K2 {
  width: 74%;
  right: 0;
  animation: K2 1.2s ease 1.6s normal both;
  z-index: 1;
}

#K3 {
  width: 74%;
  right: 0;
  bottom: 0;
  animation: K3 1s ease 2.5s normal both;
  z-index: 0;
}

.pageNum {
  font-family: techy;
  font-size: 70px;
  padding-left: 35px;
  color: #73a2adff;
  margin-top: 20vh;
}

.title {
  font-family: 'Righteous', cursive;
  font-weight: bold;
  font-size: 80px;
  padding-left: 35px;
  box-sizing: border-box;
  color: rgb(52, 54, 75);
}

#subTitle1 {
  font-family: 'Righteous', cursive;
  font-weight: 100;
  font-size: 50px;
  padding-left: 35px;
  box-sizing: border-box;
  color: rgb(89, 91, 119);
}

#four {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 17px;
  padding: 35px;
  color: rgb(43, 45, 63);
}

#profileImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  display: block;
  border-radius: 50%;
}
