/* 
Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap
*/

/* Smartphone Portrait Mode */
@media (min-width: 0px) {
  #fp-nav, .fp-nav {
    display: none;
  }

  #cutCorner {
    border: 0px rgb(80, 82, 109) solid;
  }
  
  #cutCorner:before {
    border-top: 0px solid rgb(80, 82, 109);
  }

  #animateName {
    height: 25%;
  }

  #zCont, #kCont {
    width: 150px;
    height: 150px;
  }

  .responsiveBreak {
    display: block;
  }

  #shortBlurb {
    font-size: 1em;
    line-height: 2em;
    position: absolute;
  }

  #hideOnSmall {
    display: none;
  }
  
  #shortBlurbSub {
    font-size: 0.8em;
    line-height: 2em;
    position: absolute;
  }

  @keyframes fadeDownTxt {
    0% {
      top: 9%;
      opacity: 0;
    }
    100% {
      top: 13%;
      opacity: 1;
    }
  }
  
  @keyframes fadeUpTxt {
    0% {
      bottom: 15%;
      opacity: 0;
    }
    100% {
      bottom: 20%;
      opacity: 1;
    }
  }

  #layerScene {
    opacity: 0.7;
  }

  /* About Styles */

  .title {
    text-align: center;
  }

  .subTitle {
    text-align: center;
    margin-bottom: 1%;
  }

  .description {
    text-align: center;
  }

  #profileImg {
    margin: 0 auto;
    margin-top: 4%;
    border: 15px #84dcc6 solid;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #fp-nav, .fp-nav {
    display: block;
  }

  #cutCorner {
    border: 7px rgb(80, 82, 109) solid;
  }
  
  #cutCorner:before {
    border-top: 70px solid rgb(80, 82, 109);
  }

  #animateName {
    height: 25%;
  }

  #zCont, #kCont {
    width: 250px;
    height: 250px;
  }

  .responsiveBreak {
    display: block;
  }

  #shortBlurb {
    font-size: 1.3em;
    line-height: 2em;
    position: absolute;
    top: 13%;
  }

  #hideOnSmall {
    display: inline;
  }
  
  #shortBlurbSub {
    font-size: 1em;
    position: absolute;
    bottom: 15%;
  }

  @keyframes fadeDownTxt {
    0% {
      top: 9%;
      opacity: 0;
    }
    100% {
      top: 13%;
      opacity: 1;
    }
  }
  
  @keyframes fadeUpTxt {
    0% {
      bottom: 15%;
      opacity: 0;
    }
    100% {
      bottom: 20%;
      opacity: 1;
    }
  }

  #layerScene {
    opacity: 1;
  }

  /* About Styles */

  .title {
    text-align: left;
  }

  .subTitle {
    text-align: left;
    margin-bottom: 0%;
  }

  .description {
    text-align: left;
  }

  #profileImg {
    margin: unset;
    margin-left: 8.333%;
    margin-top: 4%;
    border: 15px #84dcc6 solid;
  }
  
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #animateName {
    height: 50%;
  }

  #zCont, #kCont {
    width: 350px;
    height: 350px;
  }

  .responsiveBreak {
    display: none;
  }

  #shortBlurb {
    font-size: 1.3em;
    position: absolute;
    top: 13%;
  }
  
  #shortBlurbSub {
    font-size: 1em;
    position: absolute;
    bottom: 13%;
  }

  @keyframes fadeDownTxt {
    0% {
      top: 9%;
      opacity: 0;
    }
    100% {
      top: 13%;
      opacity: 1;
    }
  }
  
  @keyframes fadeUpTxt {
    0% {
      bottom: 8%;
      opacity: 0;
    }
    100% {
      bottom: 13%;
      opacity: 1;
    }
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
}