/* 
Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap
*/

/* Smartphone Portrait Mode */
@media (min-width: 0px) {
  #fp-nav, .fp-nav {
    display: none !important;
  }

  .pageNum {
    display: none;
  }

  #cutCorner {
    border: 0px rgb(80, 82, 109) solid;
  }
  
  #cutCorner:before {
    border-top: 0px solid rgb(80, 82, 109);
  }

  #animateName {
    height: 25%;
  }

  #zCont, #kCont {
    width: 150px;
    height: 150px;
  }

  .responsiveBreak {
    display: block;
  }

  #shortBlurb {
    font-size: 1em;
    line-height: 2em;
    position: absolute;
  }

  #hideOnSmall {
    display: none;
  }
  
  #shortBlurbSub {
    font-size: 0.8em;
    line-height: 2em;
    position: absolute;
  }

  @keyframes fadeDownTxt {
    0% {
      top: 9%;
      opacity: 0;
    }
    100% {
      top: 13%;
      opacity: 1;
    }
  }
  
  @keyframes fadeUpTxt {
    0% {
      bottom: 15%;
      opacity: 0;
    }
    100% {
      bottom: 20%;
      opacity: 1;
    }
  }

  #layerScene {
    opacity: 0.7;
  }

  /* About Styles */

  .title {
    text-align: center;
  }

  .subTitle {
    text-align: center;
    margin-bottom: 1%;
  }

  .description {
    text-align: center;
  }

  #profileImg {
    margin: 0 auto;
    margin-top: 4%;
    border: 15px #84dcc6 solid;
  }

  /* Skills Styles */
  .skillTitle {
    font-size: 0.9em;
  }
  
  .subList {
    font-size: 0.8em;
  }

  #subTitleSkills {
    text-align: left;
  }

  /* Work Experience Styles */
  #wePlxTitle {
    font-size: 17vw;
  }

  #checkOutDL {
    width: 245px;
    display: block;
    margin: 0 auto;
  }

  /* Selected Projects Styles */
  #prj1, #prj2, #prj3, #prj4, #prj5 {
    margin: 0 auto;
    width: 100%;
  }

  #imgOverlay1, #imgOverlay2, #imgOverlay3, #imgOverlay4, #imgOverlay5 {
    margin: 0 auto;
    width: 100%;
  }

  #imgOverlay1, #imgOverlay2 {
    width: 90%;
  }

  #imgOverlay1 {
    margin-right: 5%;
  }

  #imgOverlay3 {
    margin-right: 1.5%;
  }

  #imgOverlay5 {
    margin-right: 0;
  }

  #openProject {
    width: 100%;
    height: auto;
  }

  .prjDesc {
    text-align: center;
  }

  /* Blog/Photography Styles */
  #blogSide {
    height: 50%;
    width: 100%;
    top: 0;
  }

  #photoSide {
    height: 50%;
    width: 100%;
  }

  .bpTitle {
    font-size: 3em;
  }

  .bpDesc {
    font-size: 0.8em;
    margin: 0 auto;
  }

  #goToMedium, #goToPhotography {
    width: 160px;
    display: block;
    margin: 0 auto;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #fp-nav, .fp-nav {
    display: block !important;
  }

  .pageNum {
    display: none;
  }

  #cutCorner {
    border: 7px rgb(80, 82, 109) solid;
  }
  
  #cutCorner:before {
    border-top: 70px solid rgb(80, 82, 109);
  }

  #animateName {
    height: 25%;
  }

  #zCont, #kCont {
    width: 250px;
    height: 250px;
  }

  .responsiveBreak {
    display: block;
  }

  #shortBlurb {
    font-size: 1.3em;
    line-height: 2em;
    position: absolute;
    top: 13%;
  }

  #hideOnSmall {
    display: inline;
  }
  
  #shortBlurbSub {
    font-size: 1em;
    position: absolute;
    bottom: 15%;
  }

  @keyframes fadeDownTxt {
    0% {
      top: 9%;
      opacity: 0;
    }
    100% {
      top: 13%;
      opacity: 1;
    }
  }
  
  @keyframes fadeUpTxt {
    0% {
      bottom: 15%;
      opacity: 0;
    }
    100% {
      bottom: 20%;
      opacity: 1;
    }
  }

  #layerScene {
    opacity: 1;
  }

  /* About Styles */

  .title {
    text-align: left;
  }

  .subTitle {
    text-align: left;
    margin-bottom: 0%;
  }

  .description {
    text-align: left;
  }

  #profileImg {
    margin: unset;
    margin-left: 8.333%;
    margin-top: 4%;
    border: 15px #84dcc6 solid;
  }
  
  /* Skills Styles */
  .skillTitle {
    font-size: 1.2vw;
  }
  
  .subList {
    font-size: 1.1vw;
  }

  #subTitleSkills {
    text-align: right;
  }

  /* Work Experience Styles */
  #wePlxTitle {
    font-size: 5em;
  }

  #checkOutDL {
    width: unset;
    display: inline-block;

  }

  /* Selected Projects Styles */
  #prj1 {
    margin: unset;
    margin-left: auto;
    width: 80%;
  }
  
  #prj2 {
    margin: unset;
    width: 80%;
  }
  
  #prj3 {
    margin: unset;
    margin-left: auto;
    width: 71%;
  }
  
  #prj4 {
    margin: unset;
    margin: 0 auto;
    width: 72%;
  }
  
  #prj5 {
    margin: unset;
    width: 71%;
  }

  #imgOverlay1, #imgOverlay2, #imgOverlay3, #imgOverlay4, #imgOverlay5 {
    margin: unset;
  }

  #imgOverlay1 {
    width: 75%;
    margin-right: 2.6%;
  }

  #imgOverlay2 {
    width: 75%;
    margin-right: 0;
    margin-left: 3%;
    left: 0;
  }
  
  #imgOverlay3 {
    width: 73%;
    right: -2%;
    margin-right: 0;
  }
  
  #imgOverlay4 {
    width: 75%;
    left: 0;
    margin: 0 auto;
  }
  
  #imgOverlay5 {
    width: 73%;
    left: -2%;
    margin-right: 0;
  }

  #openProject {
    width: 90%;
    height: 100%;
  }

  .prjDesc {
    text-align: left;
  }

  /* Blog/Photography Styles */
  #blogSide {
    height: 100%;
    width: 50%;
    top: unset;
  }

  #photoSide {
    height: 100%;
    width: 50%;
  }

  #blogSide:hover {
    width: 55%;
  }

  #photoSide:hover {
    width: 55%;
  }

  .bpTitle {
    font-size: 4em;
  }

  .bpDesc {
    font-size: unset;
    margin: unset;
  }

  #goToMedium, #goToPhotography {
    width: unset;
    display: inline-block;
    margin: unset;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #animateName {
    height: 50%;
  }

  #zCont, #kCont {
    width: 350px;
    height: 350px;
  }

  .responsiveBreak {
    display: none;
  }

  #shortBlurb {
    font-size: 1.3em;
    position: absolute;
    top: 13%;
  }
  
  #shortBlurbSub {
    font-size: 1em;
    position: absolute;
    bottom: 13%;
  }

  @keyframes fadeDownTxt {
    0% {
      top: 9%;
      opacity: 0;
    }
    100% {
      top: 13%;
      opacity: 1;
    }
  }
  
  @keyframes fadeUpTxt {
    0% {
      bottom: 8%;
      opacity: 0;
    }
    100% {
      bottom: 13%;
      opacity: 1;
    }
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
}